{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le project MyCar{% endblock %}

{% block style %}
    {{ asset('css/styleBack.css') }}
{% endblock %}

{% block body %}

    {% include '/back/partials/_nav_back.html.twig' %}
            <div id="layoutSidenav_content">
                <main class="mb-3">
                    <div class="container-fluid px-4">
                        <h1 class="text-center mt-4">Vous allez ajouter une marque</h1>
                            <div class="row">

                        {{ include('back/brand/_form.html.twig') }}


                          </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Réalisé par Poltorak Mathieu</div>
                        </div>
                    </div>
                </footer>
            </div>
            <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
