<div class="d-flex justify-content-center mb-2">
        <button onclick="window.location.href= '{{ path('home') }}'" type="button" class="btn btn-warning me-2">Retour à la home</button>
        <button onclick="window.location.href= '{{ path('add') }}'" type="button" class="btn btn-warning me-2">Ajout d'un véhicule</button>
</div>
    {% for label,flash in app.flashes %}
            {% for message in flash %}
                
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

            </button>
            </div>
            {% endfor %}
    {% else %}
    

    {% endfor %}