{# <div class="d-flex justify-content-center mb-2">
        <a class="btn btn-warning me-2" href="{{ path('add') }}">Ajout d'un véhicule</a>
</div> #}
    {% for label,flash in app.flashes %}
            {% for message in flash %}
                
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
            </div>
            {% endfor %}
    {% else %}
    

    {% endfor %}